VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=mina-verde.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mina-verde
VITE_FIREBASE_STORAGE_BUCKET=mina-verde.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_ADMIN_EMAIL=adrian@nomadtennis.com
VITE_API_LINK=https://us-central1-mina-verde.cloudfunctions.net/app
